* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  /*Line below helps debug overflow elements*/
  /*outline: solid 1px red;*/ 
}

body{
  line-height: 1.6;
  background-color: #2b190b;
}

.mainContainer{
  background-color: #2b190b;
  margin: 1%;
}

.signInFormBody{
  background-color: white;
  background-image: url('../images/pexels-akos-adorjan-3788425.jpg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.signInFormMainBody{
  background-color: white;
}

.signInWelcome{
  text-align: center;
  padding: 5%;
}

.signInForm{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 2px solid rgb(193, 191, 191);
  padding: 10px;
  position: absolute;
  width: 450px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -200px;
}

.navContainer{
    background-color: #2b190b;
    padding: 18px;
}

.nav{
  --bs-nav-link-hover-color: #b3793c;
}

.nav-link{
  --bs-nav-pills-link-active-bg: #b3793c;
}

.nav-item{
--bs-nav-link-color:#f9ca97;
font-family: "Roboto", sans-serif;
font-size: larger;
font-weight: bold;
}

.recipeSection a {
  background-color: #2b190b;
}

.welcomeUser{
  text-align: center;
 color: #b3793c;

}

.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: cover;
}



