* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  background-color: #2b190b;
  /*Line below helps debug overflow elements*/
  /*outline: solid 1px red;*/ 
}

body{
  line-height: 1.6;
  background-color: #2b190b;
}

.mainContainer{
  background-color: #2b190b;
  margin: 1%;
}

.navContainer{
    background-color: #2b190b;
    padding: 18px;
}

.recipeSection a {
  background-color: #2b190b;
}
.cocktailCardSect{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#secondPanel {
    flex:1;
  }

.cocktailByName{
width: 60%;
margin-top: 2%;
margin-right: 2%;
}

.cocktailByIngredientAndSuggestion{
width: 35%;

}

.cocktailByIngredientCard{
width: 100%;
margin-top: 6%;
}

.cocktailSuggestion{
  margin-top: 2%;
    width: 100%;
}
