* {
  margin: 0;
  padding: 0;
  /*box-sizing: border-box;*/
  background-color: #2b190b;
  /*Line below helps debug overflow elements*/
  /*outline: solid 1px red;*/ 
}

body{
  line-height: 1.6;
  background-color: #2b190b;
}

.mainContainer{
  background-color: #2b190b;
  margin: 1%;
}

.navContainer{
    background-color: #2b190b;
    padding: 18px;
}

.nav{
  --bs-nav-link-hover-color: #b3793c;
}

.nav-link{
  --bs-nav-pills-link-active-bg: #b3793c;
}

.nav-item{
--bs-nav-link-color:#f9ca97;
font-family: "Roboto", sans-serif;
font-size: larger;
font-weight: bold;
}

.recipeSection a {
  background-color: #2b190b;
}
.cocktailCardSect{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card{
  
}

.cocktailByName{
font-family: "Roboto", sans-serif;
width: 60%;
margin-top: 2%;
margin-right: 2%;
--bs-card-height: 700px;
}

.cocktailByIngredientAndSuggestion{
width: 35%;
font-family: "Roboto", sans-serif;

}

.cocktailByIngredientCard{
width: 100%;
margin-top: 6%;
font-family: "Roboto", sans-serif;
--bs-card-height: 0;
}

.cocktailSuggestion{
  margin-top: 2%;
    width: 100%;
    font-family: "Roboto", sans-serif;
    --bs-card-height: 50%;
}
